@model CalculateSalaryOfFleet.Models.TruckSize

@{
    ViewData["Title"] = "EditTruckWeightType";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
}


    <div class="container">
        <h2>Chỉnh sửa</h2>

        <h4>Chỉnh sửa tải trọng xe</h4>
        <hr />
        <div class="col-md-4">
            <form asp-action="EditTruckWeightType">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TruckType" />
                <div class="form-group">
                    <label class="control-label">Loại vận tải</label>
                    <input asp-for="TruckType" value="@Model.TruckType" class="form-control" disabled/>
                    <span asp-validation-for="TruckType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="TruckSizeId" class="input-sm">
                        @foreach (var tr in ViewData["TruckSizeType"] as List<TruckSizeType>)
                        {
                            <option value="@tr.TruckSizeId">@tr.TruckSizeName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <a class="btn btn-warning" asp-action="Index">Trở lại trang</a>
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div>
   
</div>

