@model CalculateSalaryOfFleet.Models.TruckWeightType

@{
    ViewData["Title"] = "EditTruckWeightType";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
}


    <div class="container">
        <h2>Chỉnh sửa</h2>

        <h4>Chỉnh sửa tải trọng xe</h4>
        <hr />
        <div class="col-md-4">
            <form asp-action="EditTruckWeightType">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TruckWeightTypeId" />
                <div class="form-group">
                    <label asp-for="TruckWeightType1" class="control-label"></label>
                    <input asp-for="TruckWeightType1" class="form-control" disabled />
                    <span asp-validation-for="TruckWeightType1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WeightFrom" class="control-label"></label>
                    <input asp-for="WeightFrom" class="form-control" />
                    <span asp-validation-for="WeightFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WeightTo" class="control-label"></label>
                    <input asp-for="WeightTo" class="form-control" />
                    <span asp-validation-for="WeightTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Trở lại trang</a>
</div>

