@model List<CalculateSalaryOfFleet.Models.TruckSizeTypeModelView>

@{
    ViewData["Title"] = "TruckWeightType";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
}


    <div class="container">
        <h2>Chỉnh sửa tải trọng xe</h2>
        <div>
            <a class="btn btn-primary" asp-action="CreateTruckSize"><i class="fa fa-plus"></i> &nbsp; Thêm mới</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Loại vận tải
                    </th>
                    <th>
                        Kích cở
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TruckType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TruckSizeName)
                        </td>
                        <td>
                            <a asp-action="EditTruckWeightType" asp-route-truckType="@item.TruckType">Sửa</a>
                            @*<a asp-action="#" asp-route-id="@item.TruckWeightTypeId">Xóa</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

